    /*this is a comment is css*/
    /*import url*/
    
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=IBM+Plex+Sans:wght@100;200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
    /*fonts*/
    
     :root {
        --font-IMBPXMono: 'IBM Plex Mono', monospace;
        --font-IBMPSans: 'IBM Plex Sans', sans-serif;
        --font-IBMButton: 'IBM Plex Mono', monospace;
    }
    /*Colors*/
    
     :root {
        --Colorprimary: #060A24;
        --ColorPrincipal: #ffff;
        --ColorHover: #00F3BB;
        --Colordot: #0000EC;
        --ColorBttnormal: #00F3BB;
        --ColorBttHover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    }
    /*Universal selector*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        width: 1440px;
    }
    /*modifying the header*/
    
    li,
    a {
        font-family: var(--font-IMBPXMono);
        font-weight: 500;
        font-size: 16px;
        color: var(--Colorprimary);
        text-decoration: none;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 30px 10%;
        height: 80px;
        color: var(--ColorPrincipal);
    }
    
    .logo {
        cursor: pointer;
        padding-left: -15px;
    }
    
    .nav__links {
        list-style: none;
    }
    
    .nav__links li {
        display: inline-block;
        padding: 0px 20px;
    }
    
    .nav__links li a {
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover {
        color: var(--ColorHover);
        text-decoration: line-through;
    }
    
    .nav__links li a:active {
        color: var(--Colorprimary);
        text-decoration: line-through;
    }
    /* modifying the title */
    
    .title {
        font-family: var(--font-IBMPSans);
        font-size: 64px;
        color: var(--Colorprimary);
        margin-left: 200px;
        margin-bottom: 0;
    }
    
    .line-through {
        text-decoration: line-through;
        color: var(--Colorprimary);
    }
    
    .dot-blue {
        color: var(--Colordot);
    }
    /* modifying the paragraph */
    
    section .paragraph {
        font-family: var(--font-IMBPXMono);
        font-size: 16px;
        width: 628px;
        height: 48px;
        color: var(--Colorprimary);
        margin-left: 200px;
        margin-bottom: 56px;
        line-height: 24px;
    }
    /*button*/
    
    .btn {
        font-family: var(--font-IBMButton);
        font-size: 18px;
        background: var(--ColorBttnormal);
        color: var(--Colorprimary);
        width: 226px;
        height: 56px;
        margin-left: 200px;
        text-align: center;
        line-height: 24px;
        cursor: pointer;
    }
    
    .btn:hover {
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        background: var(--ColorBttHover);
        color: #fff;
    }
    /*episodios*/
    
    .section__episodios {
        width: 1440px;
        height: 1042.6px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
        /*position: relative;*/
        margin: 0 -100px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    
    .section__episodios h2 {
        font-family: var(--font-IBMPSans);
        font-size: 48px;
        color: #fff;
        margin-top: 150px;
        align-self: flex-start;
        margin-left: 200px;
        margin-bottom: 30px;
    }
    /*cambios en el documento al especificar el ancho y alto de las imagenes*/
    
    .section__episodios .img_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        margin-left: 100px;
    }